html{
  font-size: 62.5%;
}

.container{
  display: grid;
  justify-items: center;
}

.game-board{
  display: grid;
  grid-template-columns: 15rem 15rem 15rem;
  
  justify-items: center;
  align-items: center;
}

.column{
  justify-self: center;
  display: grid;
  grid-template-rows: 30rem 30rem 30rem;
  align-items: center;
}

.board-slot{
  font-size: 4.8rem;
  text-align: center;
}