html{
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  ;
}

h1{
  font-size: 3.6rem;
  margin-left: 25rem;
}

.container{
  display: grid;
  justify-items: center;
}

.game-board{
  display: grid;
  grid-template-columns: 20rem 20rem 20rem;
  justify-items: center;
  align-items: center;
}

.column{
  justify-self: center;
  display: grid;
  grid-template-rows: 20rem 20rem 20rem;
  width: 20rem;
  align-items: center;
}

.board-slot{
  font-size: 4.8rem;
  text-align: center;
}

.new-game-form{
  display: grid;
  grid-template-columns: 50rem 50rem;
  grid-template-rows: 10rem 10rem;
  justify-items: center;
  margin-top: 10rem;
}

.new-game-form button{
  grid-column: 1/3;
  width: 16rem;
  height: 8rem;
  border-radius: 12px;
  font-size: 1.8rem;
}

input{
  border-radius: 12px;
}

label, 
input{
  font-size: 2.4rem;
}

[for="playerone"]{
  color: #E04F30;
}

[for="playertwo"]{
  color: #24BCE0;
}

#playerone{
  border: 2px solid #E04F30;
}

#playertwo{
  border: 2px solid #24BCE0;
}

.column:first-child .board-slot, .column:nth-child(2) .board-slot{
  border-right: 2px solid rgb(221,221,221);
}

.column .board-slot:first-child, .column .board-slot:nth-child(2){
  border-bottom: 2px solid rgb(221, 221, 221);
}

.column{
  width: 15rem;
}

.board-slot{
  height: 20rem;
  width: 20rem;
  display: grid;
  align-items: center;
}

[type='submit']:hover{
  background-color: rgb(97, 163, 97);
}

.reset:hover{
  background-color: rgb(228, 120, 70);
}

.tie-message{
  grid-column: 1/3;
  font-size: 2.4rem;
}

.winner-container span{
  grid-column: 1/3;
  font-size: 3.6rem;
}

.winner-container{
  grid-column: 1/3;
}