html{
  font-size: 62.5%;
}

h1{
  font-size: 3.6rem;
}

.container{
  display: grid;
  justify-items: center;
}

.game-board{
  display: grid;
  grid-template-columns: 15rem 15rem 15rem;
  justify-items: center;
  align-items: center;
}

.column{
  justify-self: center;
  display: grid;
  grid-template-rows: 30rem 30rem 30rem;
  align-items: center;
}

.board-slot{
  font-size: 4.8rem;
  text-align: center;
}

.new-game-form{
  display: grid;
  grid-template-columns: 32rem 32rem;
  grid-template-rows: 10rem 10rem;
  justify-items: center;
}

.new-game-form button{
  grid-column: 1/3;
  width: 16rem;
  height: 8rem;
}


label{
  font-size: 2.4rem;
}